h1, h2, p {
  margin: 0;
  line-height: 150%;
}

h2 {
  font-size: 15px;
  padding-bottom: 5px;
}

p {
  font-size: 12px;
}

#update {
  font-size: 20px;
  color: #7CA7BE;
  text-align: center;
  font-weight: 300;
  padding-bottom: 10px;
}

div.nav-menu {
  padding: 10px 10%;
  height: 110px;
}

.float-right {
  float: right;
  margin-top: 35px;
}

div.nav-menu a, button {
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  width: 120px;
  text-align: center;
  margin-right: 30px;
  color: #000;
}

div.nav-menu a.active {
  border-bottom: 2px solid #7CA7BE;
}

a.logo {
  height: 87px;
}

.logo-landing {
  display: block;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

#nav-logout {
  font-size: inherit;
  width: 140px;
  height: 40px;
  margin-right: 0;
  border: none;
  border-radius: 2px;
}

#nav-logout:hover {
  background-color: rgb(220, 220, 220);
  cursor: pointer;
}

.page-title {
  color: #7CA7BE;
  text-align: center;
  font-weight: 300;
  padding-bottom: 10px;
}

.all-sitters-container {
  margin-left: 10%;
  margin-right: 10%;
  height: 500px;
}

.sitter-box {
  box-shadow: 2px 2px 6px rgb(202, 201, 201);
  padding: 20px;
  width: 150px;
  height: 90px;
  float: left;
  margin: 10px;
  border-radius: 6px;
}

.review-link-p {
  padding-top: 10px;
}

.review-link {
  padding-top: 10px;
  text-decoration: none;
  color: #7CA7BE;
}

div.review-container {
  border-radius: 2px;
  height: 90px;
  width: 250px;
  overflow: hidden;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  box-shadow: 2px 2px 6px rgb(202, 201, 201);
  border-radius: 6px;
}

.one-sitter-box {
  padding: 25px 20%;
  text-align: center;
}

/* -------------------------------------- Forms */

.login-form {
  padding: 20px 40px;
  margin: 40px auto;
  height: auto;
  width: 380px;
  box-shadow: 2px 2px 6px rgb(202, 201, 201);
  border-radius: 6px;
}

.login-form input {
  padding: 4px;
  width: 100%;
  margin: 4px 0;
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid rgb(196, 196, 196);
}

.login-form input:focus {
  outline: solid 2px #7CA7BE;
}

.switch-login {
  margin: 40px auto;
  text-align: center;
  font-size: 16px;
}

.line {
  width: 800px;
  border-top: 1px solid rgb(220, 220, 220);
}

.new-sitter-form {
  padding: 30px 40px 15px 40px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 2px 6px rgb(202, 201, 201);
  border-radius: 6px;
}

.new-sitter-form input {
  padding: 6px;
  width: 100%;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid rgb(196, 196, 196);
}

.new-sitter-form input:focus {
  outline: solid 2px #7CA7BE;
}

.new-rating-form {
  padding: 20px;
  margin: 40px 25%;
  box-shadow: 2px 2px 6px rgb(202, 201, 201);
}
.new-rating-form input {
  padding: 8px;
  margin: 8px 0 20px 0;
  width: 100%;
  box-sizing: border-box;
  display: inline-block;
}

.rating-labels {
  font-size: 16px;
}

.submit-button {
  color: #fff;
  background-color: #7CA7BE;
  font-size: 16px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  margin: 10px 0 0 0;
}

.submit-button-landing {
  color: #fff;
  background-color: #7CA7BE;
  font-size: 16px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  display: block;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.submit-button:hover {
  background-color: #6d94a8;
}

.submit-button:focus {
  outline: solid 2px #7CA7BE;
}

/* ----------------------------------- Rating Radio Buttons */

.rating-radio-box {
  display: table;
  margin: 8px 0 20px 0;
}

.rating-box {
  float: left;
  width: 120px;
  text-align: center;
  padding: 2px;
}

.rating-box input[type='radio'] {
  accent-color: black;
  margin-bottom: 8px;
  cursor: pointer;
}

.rating-stars {
  width: 90px;
  padding-top: 5px;
}

.rating-stars-ind {
  padding-bottom: 5px;
  padding-top: 5px;
  block-size: 30px;
}

#review {
  width: 100%;
  height: 150px;
  padding: 10px;
  margin: 8px 0 20px 0;
  box-sizing: border-box;
  border: 1px solid #e4e0e0;
  border-radius: 2px;
  resize: none;
  font-family: inherit;
}
#review:focus {
  outline: solid 2px #7CA7BE;
}

.edit-container {
  position: absolute;
}

.edit-icon {
  block-size: 20px;
  padding: 2px 0 2px 2px;
  position: absolute;
  top: -70px;
  right: -130px;
}

#delete-rating {
  color: red;
  cursor: pointer;
  float: right;
  margin-top: 22px;
  font-size: 14px;
}

#add-rating-btn {
  margin: 20px 10%;
}

.login-error {
  padding-top: 15px;
}
.login-error p {
  color: red;
  text-align: center;
}