.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ------------- */

h1, h2, p {
  margin: 0;
  line-height: 150%;
}

div.nav-menu {
  padding: 25px;
  text-align: right;
  height: 87px;
}

div.nav-menu a {
  padding-left:  20px;
  padding-right: 20px;
  line-height: 94px;
}

div.nav-menu img.logo {
  float: left;
}

.all-sitters-container {
  margin-left: 25px;
  margin-right: 25px;
  outline: solid 2px red;
  height: 500px;
}

.sitter-box {
  outline: solid 1px #000;
  padding: 25px;
  width: 200px;
  height: 330px;
  float: left;
  margin: 15px;
}

div.review-container {
  /* outline: solid 1px rgb(189, 189, 189); */
  border-radius: 2px;
  height: 90px;
  overflow: hidden;
  margin-top: 20px;
  padding: 15px;
  box-shadow: 2px 2px 6px rgb(202, 201, 201);
}

.one-sitter-box {
  outline: solid 1px purple;
  padding: 25px 20%;
  margin-left: 25px;
  margin-right: 25px;
  text-align: center;
}

/* -------------------------------------- Forms */

.login-form {
  padding: 60px;
  margin: 40px;
  border: 2px solid #000;
  height: 350px;
  width: 400px;
}

.login-form input {
  width: 100%;
}

.new-sitter-form {
  padding: 60px;
  margin: 40px;
  border: 2px solid #000;
}
.new-sitter-form input {
  padding: 5px;
  width: 100%;
  display: inline-block;
}

.new-rating-form {
  padding: 20px;
  margin: 40px 25%;
  border: 2px solid #000;
}
.new-rating-form input {
  padding: 5px;
  margin: 8px 0 20px 0;
  width: 100%;
  box-sizing: border-box;
  display: inline-block;
}

/* ----------------------------------- Rating Radio Buttons */

.rating-radio-box {
  display: table;
  margin: 8px 0 20px 0;
  /* outline: solid 1px black; */
}

.rating-box {
  float: left;
  width: 120px;
  text-align: center;
  padding: 2px;
}

.rating-box input[type='radio'] {
  accent-color: black;
  margin-bottom: 8px;
}

.rating-stars {
  width: 90px;
  padding-top: 5px;
}

.rating-stars-ind {
  padding-bottom: 5px;
  padding-top: 5px;
  block-size: 30px;
}

#review {
  width: 100%;
  height: 150px;
  padding: 10px;
  margin: 8px 0 20px 0;
  box-sizing: border-box;
  border: 1px solid #e4e0e0;
  border-radius: 2px;
  resize: none;
  font-family: inherit;
}
#review:focus {
  outline: solid 1px #7CA7BE;
}

.edit-container {
  position: absolute;
}

.edit-icon {
  block-size: 20px;
  padding: 2px 0 2px 2px;
  position: absolute;
  top: -80px;
  right: -210px;
}